@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&family=Roboto+Mono:ital,wght@0,100;0,500;1,200;1,400&display=swap');

:root {
    --white: #dfdddd;
    --point-color: #ffffff;
    --black: rgb(2, 3, 4);
    --transparent-black: rgba(0, 0, 0, 0.786);
    --gray: rgba(204, 205, 206, 0.626);
    --blue: #059fce;
    --light-blue: #1273c8;
    --dark-blue: #040c9f;
    --orange-color: rgb(222, 111, 7);
    --pink: rgb(210, 15, 122);
    --size: 5px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Mina', sans-serif;
}

.nav-link {
    text-align: center;
    color: var(--white);
}

.nav-link:hover {
    background: var(--blue);
    color: var(--white);
}

.carousel-caption {
    color: var(--white);
    background: var(--transparent-black);
}

.carousel-caption h3 {
    color: var(--orange-color);
}

.text-services {
    color: var(--orange-color);
    font-family: 'Roboto Mono', monospace;
}

#servicesCardMeio {
    background: var(--orange-color);
}

#servicesCardPonta {
    background: var(--black);
}

#servicesCardPonta,
#servicesCardMeio {
    color: var(--white);
}

#myTeam {
    background-color: var(--gray);
    padding-top: 6em;
    padding-bottom: 8em;
}

.text-time {
    color: var(--blue);
}

#produtos {
    padding-top: 8em;
    padding-bottom: 3em;
}

.card-games {
    background-image: url("./assets/img/background/background-image-card-games.jpg");
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: sepia(90%);
}

.card-title-1 {
    color: var(--orange-color);
}

.card-title-2 {
    color: var(--light-blue);
}

.loadingText {
    position: relative;
    padding-top: 3%;
    font-family: 'Roboto Mono', monospace;
}

.loadingText span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: var(--white);
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
    0%,
    80% {
        transform: rotateY(360deg)
    }
}

.loader {
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
}

.loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}

.map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20em;
}

#autoria {
    text-decoration: none;
    color: var(--orange-color);
}

#autoria:hover {
    color: var(--blue);
}

.iconeSocial {
    margin-left: 25%;
    margin-right: 25%;
}

.bi-twitter:hover {
    color: var(--light-blue);
}

.bi-facebook:hover {
    color: var(--dark-blue);
}

.bi-instagram:hover {
    color: var(--pink);
}

@media screen and (max-width: 600px) {
    .slide {
        padding-top: 12%;
    }

    #servicesCardPonta {
        margin-top: 0;
    }
}

@media screen and (min-width: 900px) {
    .slide {
        padding-top: 0;
    }

    #servicesCardPonta {
        margin-top: 5%;
    }
}